body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  margin: 0;
  padding: 0;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* Login */
    .login-container {
      background-color: #fff;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

   .login-container h2 {
      text-align: center;
      margin: 0;
      color: #333;
    }

    .login-container input {
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    .login-container button {
      padding: 0.75rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .login-container button:hover {
      background-color: #0056b3;
    }

/* kanban... */

.kanban {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.columna {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  min-height: 300px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

/* Colores de fondo por estado */
.columna-pendiente {
  background-color: #fff9c4; /* amarillo claro */
}

.columna-proceso {
  background-color: #d0f0ff; /* celeste claro */
}

.columna-realizado {
  background-color: #c8e6c9; /* verde claro */
}

.columna h3 {
  text-align: center;
  margin-top: 0;
}

/* Tarea general */
.tarea {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  cursor: grab;
}

/* Urgencias */
.tarea.urgencia-alta {
  border-left-color: red;
}
.tarea.urgencia-media {
  border-left-color: orange;
}
.tarea.urgencia-baja {
  border-left-color: green;
}

/* Tarea finalizada */
.tarea.realizada {
  background-color: #e0ffe0;
  cursor: default;
}

/* Usuario asignado */
.tarea small {
  color: #555;
  font-size: 0.85em;
}
.tareas {
  min-height: 80px;
  padding: 10px;
  border: 1px dashed #ccc;
}
.zona-activa {
  background-color: #eef;
  transition: background-color 0.2s;
}
